/.vs
engine/.vs
engine/Release/
engine/Debug/
engine/steam_appid.txt
engine/debug.log
engine/qconsole.log
launcher/.vs
launcher/Release/
launcher/Debug/
vgui2/Release/
vgui2/Debug/
vgui2/.vs
vgui2/vgui2_surfacelib/.vs
vgui2/vgui2_surfacelib/Release
vgui2/vgui2_surfacelib/Debug
vgui2/controls/Release/
tier1/Release/
tier1/Debug/
dlls/Release/
dlls/Debug/
*.obj
*.dll
