/.vs
engine/.vs
engine/Release/
engine/Debug/
launcher/.vs
launcher/Release/
launcher/Debug/
vgui2/Release/
vgui2/Debug/
vgui2/.vs
vgui2/vgui2_surfacelib/.vs
vgui2/vgui2_surfacelib/Release
vgui2/vgui2_surfacelib/Debug

*.obj
*.dll
